.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.points {
    padding: 50px 0;
    background-color: rgb(6, 3, 39);
}

.points_container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
}

.points_body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    background-color: rgba(122, 120, 139, 0.616);
}

.card1,
.card2,
.card3,
.card4,
.card5,
.cardX {
    position: relative;
    padding: 0px 0px 100% 0px;
    margin: 20px;
    border: 5px solid rgb(255, 226, 183);
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card1:hover {
    animation: animagrow 3s infinite;
}

.card2:hover {
    animation: animotion 3s 1s infinite;
}

.card3:hover {
    animation: animapulse 2.7s infinite;
}

.card4:hover {
    animation: animapulse2 2s infinite;
}

.card5:hover {
    animation: animaopacity 4s infinite;
}

.cardX:hover {
    animation: cops 11s infinite;
}

@keyframes animagrow {

    0% {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.3, 1.3, 1.3);
        z-index: 3;
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes animotion {

    0%,
    20% {
        transform: translate3d(0, 0, 0);
    }

    2%,
    6%,
    10%,
    14%,
    18% {
        transform: translate3d(-10px, 10px, 0);
    }

    4%,
    8%,
    12%,
    16% {
        transform: translate3d(10px, -30px, 0);
    }

    50% {
        transform: scale3d(1.3, 1.3, 1.3);
        z-index: 3;
    }
}

@keyframes animapulse {

    0%,
    100% {
        transform: scale3d(1, 1, 1);
        z-index: 3;
        box-shadow: 0 0 0 0 rgba(255, 226, 183, 0);
    }

    15%,
    85% {
        transform: scale3d(1.2, 1.2, 1.2);
        z-index: 3;
        box-shadow: 0 0 45px 20px rgba(219, 72, 153, 0.5);
    }

    35%,
    65% {
        transform: scale3d(1.2, 1.2, 1.2);
        z-index: 3;
        box-shadow: 0 0 0 20px rgba(219, 72, 153, 0);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
        z-index: 3;
        box-shadow: 0 0 45px 20px rgba(219, 72, 153, 0.5);
    }
}

@keyframes animapulse2 {

    0% {

        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0);
    }

    70% {

        box-shadow: 0 0 10px 20px rgba(255, 255, 255, 0.45);
    }

    100% {
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0);
    }
}

@keyframes animaopacity {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cops {

    0% {
        transform: scale3d(1, 1, 1);
        z-index: 3;
        box-shadow: 0 0 25px 30px rgba(255, 255, 255, 1);
    }

    15%,
    24%,
    33%,
    42%,
    51%,
    60%,
    69% {
        transform: scale3d(1.18, 1.18, 1.18);
        z-index: 3;
        box-shadow: 0 0 45px 20px rgba(255, 0, 0, 0.5);
    }

    18%,
    27%,
    36%,
    45%,
    54%,
    63%,
    72% {
        transform: scale3d(1.179, 1.179, 1.179);
        z-index: 3;
        box-shadow: 0 0 45px 20px rgba(0, 89, 255, 0.5);
    }

    21%,
    30%,
    39%,
    48%,
    57%,
    66%,
    75% {
        transform: scale3d(1.181, 1.181, 1.181);
        z-index: 3;
        box-shadow: 0 0 45px 20px rgba(255, 255, 255, 0.5);
    }

    80% {
        transform: scale3d(1.1, 1.1, 1.1);
        z-index: 3;
        box-shadow: 0 0 25px 30px rgba(255, 255, 255, 0.5);
    }

    100% {
        transform: scale3d(1, 1, 1);
        z-index: 3;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}