.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.full-screen {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.26);
}

.full-screen_body {
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.full-screen_caption {
    font-size: 50px;
    line-height: 150%;
    font-variant: small-caps;
    font-weight: bolder;
    text-align: center;
    color: rgb(238, 226, 174);
}

.full-screen_video {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.content_conteiner {
    padding: 15px;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
}

.points {
    padding: 50px 0;
    background-color: rgba(100, 63, 63);
}

.points_container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
}

.points_body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.card {
    padding: 10px;
}

.card_video {
    position: relative;
    padding: 0px 0px 55% 0px;
    margin: 0px 0px 15px 0px;
}

.card_video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card_text {
    font-size: 18px;
    line-height: 150%;

}

.card_href {
    font-size: 18px;
    line-height: 150%;
}

a {
    text-decoration: none;
    color: rgba(185, 243, 152, 0.575);
}

a:hover {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}