.text {
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.box {
    display: inline-block;
    width: 98%;
    height: 30em;
    position: relative;
    margin: 2px;
    padding: 0;
    z-index: 1;
}

.inbox {
    position: absolute;
    left: 27%;
}

.box1 {
    width: 12.5em;
    height: 12.5em;
    position: absolute;
    left: 2em;
    top: 2em;
    z-index: 2;
}

.box2 {
    width: 14em;
    height: 14.5em;
    position: absolute;
    left: 16em;
    top: 1.5em;
    z-index: 2;
}

.box3 {
    width: 12.5em;
    height: 12.5em;
    position: absolute;
    left: 10em;
    top: 16em;
    z-index: 2;
}

.box4 {
    width: 16em;
    height: 16em;
    position: absolute;
    left: 8em;
    top: 6em;
    z-index: 3;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover {
    z-index: 4;
    background-color: hsla(234, 64%, 82%, 0.452);
    border: 5px solid hsla(234, 64%, 82%, 0.452);
    border-radius: 100px;
}

@media screen and (max-width: 57em) {
    .inbox {
        position: absolute;
        left: 24%;
    }
}

@media screen and (max-width: 53em) {
    .inbox {
        position: absolute;
        left: 20%;
    }
}

@media screen and (max-width: 48em) {
    .inbox {
        position: absolute;
        left: 15%;
    }
}

@media screen and (max-width: 43em) {
    .inbox {
        position: absolute;
        left: 10%;
    }
}

@media screen and (max-width: 36em) {
    .inbox {
        position: absolute;
        left: 2%;
    }
}

@media screen and (max-width: 36em) {
    .inbox {
        position: absolute;
        left: 2%;
    }
}

@media screen and (max-width: 32em) {
    .inbox {
        position: absolute;
        left: 0%;
    }

    .box1 {
        width: 12.5em;
        height: 12.5em;
        position: absolute;
        top: 2em;
        z-index: 2;
    }

    .box2 {
        width: 14em;
        height: 14.5em;
        position: absolute;
        left: 14em;
        top: 1.5em;
        z-index: 2;
    }

    .box3 {
        width: 12.5em;
        height: 12.5em;
        position: absolute;
        left: 8em;
        top: 16em;
        z-index: 2;
    }

    .box4 {
        width: 16em;
        height: 16em;
        position: absolute;
        left: 6em;
        top: 6em;
        z-index: 3;
    }
}