form {
    display: block;
    width: 100%;
}

.label,
.labelR,
.labelP {
    margin: 5px;
}

.label0 {
    margin: 5px;
    width: 100%;
}

.labelN {
    width: 180px;
    float: left;
}

#textin {
    width: 97%;
}

.textin {
    display: block;
    margin-left: 185px;
}

.select {
    margin: 5px 5px 5px 116px;
}

.button1 {
    display: inline-block;
    margin: 5px 5px 5px 88px;
}

.button2,
.button3 {
    display: inline-block;
}

.butagree {
    margin: 5px 5px 5px 4px;
}

.textarea {
    width: 98%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}


@media screen and (max-width: 45em) {
    .textin {
        display: inline-block;
        width: 100%;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0;
    }

    .labelR,
    .labelP {
        width: 95%;
        display: block;
    }

    .select {
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0;
    }

    .button1,
    .button2,
    .button3 {
        display: inline-block;
        width: 98%;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0;
    }
}